{{ define "body-class" }}
    article-page
    {{/*
        Enable the right sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $HasWidgetNotTOC := false -}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if ne .type "toc" -}}
            {{ $HasWidgetNotTOC = true -}}
        {{- else -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}

    {{- .Scratch.Set "hasWidget" (or $HasWidgetNotTOC (and $TOCEnabled $hasTOC)) -}}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partial "article/components/related-content" . }}

    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}

    {{/*  Load plyr.io  */}}
    {{ if or ( .HasShortcode "audio" ) ( .HasShortcode "video" )  ( .HasShortcode "archive-audio" ) }}

        <!-- <link rel="stylesheet" href="/css/plyr.css"> -->
        <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />

        <!-- <script src="/js/plyr.polyfilled.js" crossorigin="anonymous"></script> -->
        <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js" crossorigin="anonymous"></script>
        <script>
        (function() {
            const players = Array.from(document.querySelectorAll('.player')).map(
                p => new Plyr(p, {
                    controls: ['play', 'progress', 'current-time', 'mute', 'volume', 'download', 'fullscreen'],
                    {{/*  autoplay: true,  */}}
                    {{/*  settings: ['speed']  */}}
                })
            );
            {{/*  Stop other players when starting  */}}
            players.forEach(function(p){
                p.on('play', event => {
                    const instance = event.detail.plyr;
                    console.log('Stop others players');
                    players.forEach(function(p){ if(p != instance) p.stop()});
                })
            });
        })();
        </script>

    {{ end }}

{{ end }}

{{ define "right-sidebar" }}
    {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}{{ end}}
{{ end }}
